head{display: none;}
body{background-color: white;
    display: black;
    margin: 16px;}
div{display:block;
   unicode-bidi:isolate;}
header{background-color:orange;
      display:block;
      unicode-bidi:isolate;}
.box{padding:8px}
.menu{display:flex;}
footer{background-color:orange;}
