head{display: none;}
body{background-color: white;
    display: black;
    margin: 16px;}
div{display:block;
   unicode-bidi:isolate;}
header{background-color:orange;
      display:block;
      unicode-bidi:isolate;}
.menu{display:flex;
     padding:8px}
footer{background-color:orange;}
